In [1]:
import pandas as pd

In [2]:
re_movies_df = pd.read_csv('movie_out.csv')

In [16]:
re_movies_df.head(2)

,id,영화제목,개봉일,매출액,매출액.1,누적매출액,관객수,누적관객수,스크린수,상영횟수,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0,스파이더맨: 노 웨이 홈,2021-12-15,"53,772,689,910",4.9%,53772689910,5369773,5369773,2948,137848,...,0.0,0.0,0.009087,0.0,0.0,0.041833,0.0,0.0,0.0,0.0
1,1,남산의 부장들,2020-01-22,"41,225,216,650",3.8%,41225216650,4750345,4750345,1659,140051,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [3]:
re_movies_df.shape

(3299, 25122)

In [4]:
# 그 외 필요한 전처리
X = re_movies_df.copy()
y = re_movies_df['누적관객수']
X.drop(['id','영화소개','누적관객수','영화제목','개봉일','매출액','매출액.1','누적매출액','관객수','스크린수','상영횟수','body_key','body_pos'],inplace=True,axis=1)
X.shape, y.shape
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3299 entries, 0 to 3298
Columns: 25109 entries, 제작사_(사)정신대할머니와함께하는시민모임 to 4999
dtypes: float64(5000), int64(20109)
memory usage: 632.0 MB

In [23]:
X.head(2)

,제작사_(사)정신대할머니와함께하는시민모임,제작사_(유)내부자들 문화전문회사,제작사_(유)안녕하세요,제작사_(유)조이앤시네마,제작사_(재)CBS,제작사_(재)무주산골문화재단,제작사_(재)서울예술단,제작사_(재)전주국제영화제조직위원회,제작사_(주) 루스이소니도스,제작사_(주)26컴퍼니,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.009087,0.0,0.0,0.041833,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [24]:
y.head(2)

0    5369773
1    4750345
Name: 누적관객수, dtype: int64